$app-bar-bg: #fff;
$navbar-height: 60px;
$navbar-height-desktop: 90px;

body {
  padding-top: $navbar-height;

  @include media(desktop) {
    padding-top: 0;
  }
}

.app-bar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  @include container();

  @include media(desktop) {
    position: relative;
  }
}

.app-bar-container {
          flex-direction: row;
      -ms-flex-direction: row;
  -webkit-flex-direction: row;
  background-color: $app-bar-bg;
  border-bottom: 1px solid rgba(#000, .2);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: $navbar-height;
  margin: 0 auto;
  position: relative;
  width: 100%;
  z-index: 2;

  @include media(desktop) {
    border-bottom: none;
    display: block;
    float: left;
    height: $navbar-height-desktop;
    width: 50%;
  }
}

.app-bar .logo {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2em;
  line-height: $navbar-height;
  margin: 0 16px;
  padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  font-weight: 300;
  display: initial;

  @include media(desktop) {
    float: left;
    margin: 0;
    padding: 0;
    line-height: $navbar-height-desktop;
    font-size: 46px;
  }

  a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
  }
}

.app-bar-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 2;

  @include media(desktop) {
    float: right;
  }
}

.app-bar button {
  width: 60px;
  height: 60px;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  display: inline-block;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:focus {
    background-color: rgba(255, 255, 255, 0.2);
    outline: 0;
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.4);
  }

  img {
    height: 24px;
    width: 24px;
  }
}


@include media(desktop) {
  .app-bar::after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  button.menu {
    display: none;
  }
}
