$app-bar-bg: #fff;
$navbar-height: 45px;
$navbar-height-desktop: 90px;

body {
  padding-top: $navbar-height;

  @include media(desktop) {
    padding-top: 0;
  }
}

.app-bar {
  display: block;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  height: $navbar-height;
  @include container();

  @include media(desktop) {
    height: $navbar-height-desktop;
    position: relative;
  }

  &.open {
    height: auto;
  }
}

.app-bar-container {
          flex-direction: row;
      -ms-flex-direction: row;
  -webkit-flex-direction: row;
  background-color: $app-bar-bg;
  border-bottom: 1px solid rgba(#000, .2);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0 auto;
  position: relative;
  width: 100%;
  z-index: 2;

  @include media(desktop) {
    border-bottom: none;
    display: block;
    float: left;
    width: 50%;
  }
}

.app-bar .logo {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: $navbar-height;
  margin: 0 16px;
  padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  font-weight: 300;
  display: initial;

  @include media(desktop) {
    float: left;
    margin: 0;
    padding: 0;
    line-height: $navbar-height-desktop;
  }

  a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
  }

  img {
    height: $navbar-height * 0.7;
    margin: 6px 0;
    vertical-align: top;

    @include media(desktop) {
      height: $navbar-height-desktop * 0.5;
      vertical-align: middle;
    }
  }
}

.app-bar button {
  width: 30px;
  height: 24px;
  background-image: none;
  background-color: $brand-color-primary;
  border: none;
  border-radius: 2px;
  padding: 0;
  margin-right: 10px;
  display: inline-block;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;

  @include media(desktop) {
    display: none;
  }

  img {
    vertical-align: top;
    height: 24px;
    width: 24px;
  }
}


@include media(desktop) {
  .app-bar::after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
}
