$banner-text-color: #fff;

.banner {
  position: relative;
  overflow: auto;
}

.banner-slides {
  list-style: none;
  padding: 0;
  margin: 0;
}

.banner-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  color: $banner-text-color;
  display: none;
  float: left;
  width: 100%;

  &:first-child {
    display: block;
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 125px;
    justify-content: center;
    padding: 0;

    @include media(tablet) {
      height: 484px;
    }
  }
}

//This one's not responsive
.banner-image-container {
  width: 40%;
   -webkit-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.banner-text {
  @extend .clearfix;
  width: 60%;
  -webkit-font-smoothing: antialiased;
   -webkit-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.banner-header {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: .1em;

  @include media(tablet) {
    font-size: 42px;
  }
}

.banner-desc {
  font-size: 12px;
  line-height: 1.6;
  color: $banner-text-color;
  margin-bottom: 0;

  @include media(tablet) {
    font-size: 26px;
    line-height: 1.7;
    margin-bottom: .2em;
  }
}

.banner-iphone {
  height: 110px;
  text-align: center;

  @include media(tablet) {
    margin: 30px 30px 0 0;
    height: 100%;
  }

  img {
    max-height: 100%;
    max-width: 90%;
  }
}

.demo-banner-slide1,
.demo-banner-slide2,
.demo-banner-slide3 {
  background-color: #43474d;
  background-image: url('/images/jpg/bannerbg.jpg');
}
