$banner-text-color: #fff;

.banner {
  overflow: auto;
  position: relative;

  //The cutoff effect (white triangles at the bottom)
  @include media(tablet) {
    &::after {
      background-image: url('/images/svg/saw.svg');
      bottom: 0;
      content: '';
      height: 8px;
      left: 0;
      position: absolute;
      right: 0;
    }
  }
}

.banner-slides {
  @extend %promote-layer;
  list-style: none;
  margin: 0;
  padding: 0;
}

.banner-slide {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: $banner-text-color;
  display: none;
  float: left;
  width: 100%;

  &:first-child,
  .unslider-enabled & {
    display: block;
  }

  .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 125px;
    justify-content: center;
    padding: 0;

    @include media(tablet) {
      height: 484px;
    }
  }
}

.unslider-arrow {
  @extend .ir; //Image replacement
  display: none;

  @include media(tablet) {
    background-size: 100%;
    display: block;
    height: 63px;
    margin-top: -32px;
    opacity: .6;
    position: absolute;
    top: 50%;
    transform: none;
    transition: all .2s ease;
    width: 25px;
    will-change: opacity, transform;
    z-index: 1;

    &:hover {
      opacity: 1;
      transform: scale(1.2);
    }
  }
}

//Dont want no arrows on mobile
@include media(tablet) {
  .unslider-arrow_enabled {
    display: block;
  }

  .unslider-arrow_prev {
    left: 5%;
    background-image: url('/images/svg/slider-arrow-left.svg');
  }

  .unslider-arrow_next {
    right: 5%;
    background-image: url('/images/svg/slider-arrow-right.svg');
  }
}

//This one's not responsive
.banner-image-container {
  flex: 4;
  width: 40%;
}

.banner-text {
  @extend .clearfix;
  flex: 6;
  width: 60%;
  -webkit-font-smoothing: antialiased;
}

.banner-header {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: .1em;

  @include media(tablet) {
    font-size: 42px;
  }
}

.banner-desc {
  color: $banner-text-color;
  font-size: 12px;
  line-height: 1.6;
  margin-bottom: 0;

  @include media(tablet) {
    font-size: 26px;
    line-height: 1.7;
    margin-bottom: .2em;
  }
}

.banner-iphone {
  height: 110px;
  text-align: center;

  @include media(tablet) {
    height: 100%;
    margin: 30px 30px 0 0;
  }

  img {
    max-height: 100%;
    max-width: 90%;
  }
}

.demo-banner-slide1,
.demo-banner-slide2,
.demo-banner-slide3 {
  background-color: #43474d;
  background-image: url('/images/jpg/bannerbg.jpg');
}
