$banner-text-color: #fff;

.banner {
  position: relative;
  overflow: auto;
}

.banner-slides {
  list-style: none;
  padding: 0;
  margin: 0;
}

.banner-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  color: $banner-text-color;
  display: none;
  float: left;
  height: 125px;
  width: 100%;

  @include media(tablet) {
    height: 484px;
  }

  &:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    padding: 0 15px;
  }
}

//This one's not responsive
.banner-image {
  float: left;
  width: 40%;
   -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.banner-text {
  @extend .clearfix;
  float: left;
  width: 60%;
  -webkit-font-smoothing: antialiased;
   -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.banner-header {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: .1em;

  @include media(tablet) {
    font-size: 42px;
  }
}

.banner-desc {
  font-size: 12px;
  line-height: 1.6;
  color: $banner-text-color;
  margin-bottom: .3em;

  @include media(tablet) {
    font-size: 26px;
    line-height: 1.7;
  }
}

.demo-banner-slide1,
.demo-banner-slide2,
.demo-banner-slide3 {
  background-color: #43474d;
  background-image: url('/images/jpg/bannerbg.jpg');
}
