.button {
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8em;
  padding: 0 .5em;
  text-decoration: none;
  margin: .7em 0;
  -webkit-font-smoothing: antialiased;

  &:hover,
  &:focus,
  &:visited {
    color: #fff;
  }

  @include media(tablet) {
    border-radius: 2px;
    font-size: 22px;
    padding: .1em .5em;
    margin: .7em .4em;
  }
}

.button-primary {
  background-color: $brand-color-primary;

  &:hover,
  &:focus {
    background-color: darken($brand-color-primary, 8%);
  }
}

.button-icon.icon {
  height: 1em;
  width: 1em;
  background-size: 100%;
  line-height: inherit;
  vertical-align: middle;
  margin-right: .2em;
  margin-bottom: .2em;
}
