.featured-sections {

}

.featured-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.featured-element {
  @extend .clearfix;
  border-bottom: 1px solid rgba(#000, .15);
  padding: 15px 20px 5px 20px; //bottom is 5px because of weird design

  a {
    text-decoration: none;
  }
}

.featured-header {
  font-size: 17px;
  font-weight: 300;
  color: $brand-color-primary;
  margin: .6em 0 0 0;
}

.featured-desc {
  font-size: 10px;
  color: $body-text-color;
  line-height: 1.3;
}
