.featured-sections {

}

.featured-list {
  @extend .clearfix;
  list-style: none;
  padding: 0;
  margin: 0;

  @include media(tablet) {
    margin: 50px 0;
  }
}

.featured-element {
  @extend .clearfix;
  border-bottom: 1px solid rgba(#000, .15);
  padding: 15px 20px 5px 20px; //bottom is 5px because of weird design

  @include media(tablet) {
    border-bottom: none;
    text-align: center;
  }

  a {
    text-decoration: none;
  }
}

.featured-header {
  font-size: 17px;
  font-weight: 400;
  color: $brand-color-primary;
  margin: .6em 0 0 0;

  @include media(tablet) {
    font-size: 20px;
    margin-bottom: .4em;
  }
}

.featured-desc {
  font-size: 10px;
  color: $body-text-color;
  line-height: 1.3;

    @include media(tablet) {
    font-size: 14px;
  }
}

.featured-icon {
  float: left;
  background-size: 45%;
  border-radius: 100%;
  height: 69px;
  width: 69px;
  margin: 5px 12px 5px 0;
  transition: all .15s ease;

  @include media(tablet) {
    clear: both;
    float: none;
    height: 146px;
    width: 146px;
    margin: 5px;
  }

  @include media(desktop) {
    height: 186px;
    width: 186px;
  }

  a:focus &,
  a:hover & {
    transform: scale(1.1);
  }
}
