.icon {
  background-size: 50%;
  display: inline-block;
  min-height: 16px;
  min-width: 16px;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-red {
  background-color: $brand-color-red;
}

.icon-blue {
  background-color: $brand-color-blue;
}

.icon-yellow {
  background-color: $brand-color-yellow;
}

.featured-icon {
  float: left;
  background-size: 45%;
  border-radius: 100%;
  height: 69px;
  width: 69px;
  margin: 5px 12px 5px 0;

  @include media(tablet) {
    clear: both;
    float: none;
    height: 146px;
    width: 146px;
    margin: 5px;
  }

  @include media(desktop) {
    height: 186px;
    width: 186px;
  }
}

.button-icon {
  height: 1em;
  width: 1em;
  background-size: 100%;
  line-height: inherit;
  vertical-align: middle;
  margin-right: .2em;
  margin-bottom: .2em;
}

.icon_screen {
  background-image: url('/images/svg/icon-screen.svg');
}

.icon_pencil {
  background-image: url('/images/svg/icon-pencil.svg');
}

.icon_basket {
  background-image: url('/images/svg/icon-basket.svg');
}

.icon_check {
  background-image: url('/images/svg/icon-check.svg');
}
