.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  display: inline-block;
  min-height: 16px;
  min-width: 16px;
}

.icon-red {
  background-color: $brand-color-red;
}

.icon-blue {
  background-color: $brand-color-blue;
}

.icon-yellow {
  background-color: $brand-color-yellow;
}

.icon_screen {
  background-image: url('/images/svg/icon-screen.svg');
}

.icon_pencil {
  background-image: url('/images/svg/icon-pencil.svg');
}

.icon_basket {
  background-image: url('/images/svg/icon-basket.svg');
}

.icon_check {
  background-image: url('/images/svg/icon-check.svg');
}
