$navdrawer-nav-bg: #fff;
$navdrawer-nav-color: #6c6c6c;
$navdrawer-drawer-color: #fefefe;
$navdrawer-drawer-bg: $brand-color-blue;
$navdrawer-header-color: $brand-color-blue;


.navdrawer-container {
  @extend %promote-layer;
  background-color: $navdrawer-drawer-bg;
  color: $navdrawer-drawer-color;
  font-size: 20px;
  height: 100%;
  overflow-y: auto;
  transform: translate(0, -110%);
  width: 100%;
  z-index: 1;

  @include media(desktop) {
    background-color: $navdrawer-nav-bg;
    height: auto;
    margin-top: 0;
    overflow-y: auto;
    position: relative;
    transform: translate(0, 0);
    transition: none;
    width: 50%;
  }

  &.open {
   transform: translate(0, 0);
  }
}

.app-bar-container,
.navdrawer-container.opened,
main {
  transition: transform 0.3s ease-out;
}

.navdrawer-container h4,
.navdrawer-navitem a {
  height: 60px;
  padding: 17px 20px;
  line-height: 1.4;

  @include media(desktop) {
    padding: 17px 0;
  }
}

.navdrawer-container h4 {
  background-color: white;
  color: $navdrawer-header-color;
  margin: 4px 0;

  @include media(desktop) {
    display: none;
  }
}

.navdrawer-list {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include media(desktop) {
    max-width: 864px;
    margin: 0 auto;
  }
}

.navdrawer-navitem a {
  display: block;
  text-decoration: none;
  color: $navdrawer-drawer-color;
  transition: background-color 0.2s ease-out;
  white-space: nowrap;

  @include media(desktop) {
    color: $navdrawer-nav-color;
  }

  &:hover {
    background-color: rgba(#fff, 0.2);
  }

  &:focus {
    background-color: rgba(#fff, 0.3);
    outline: 0;
  }

  &:active {
    background-color: rgba(#fff, 0.4);
  }
}

.navdrawer-navitem {
  display: block;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 0;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;

  @include media(desktop) {
    display: inline-block;
    border-width: 3px;
    border-color: transparent;
    margin: 0 20px;
  }

  &::before {
    content: none;
  }
}

.navdrawer-navitem_active,
.navdrawer-navitem:hover {
  @include media(desktop) {
    border-color: $brand-color-blue;
  }
}

