.promo-info {
  border-bottom: 1px solid rgba(#000, .15);
  padding-bottom: 25px;

  @include media(tablet) {
    padding-bottom: 40px;
  }

  .container {
    padding: 0 30px;
  }
}

.promo-header {
  color: $header-text-color;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: .6em;
}

.promo-header_primary {
  text-align: center;
  font-size: 21px;
  @include media(tablet) {
    font-size: 42px;
    text-align: left;
  }
}

.promo-header_secondary {
  font-size: 17px;

  @include media(tablet) {
    font-size: 26px;
  }
}

.promo-desc {
  font-size: 9px;
  color: $body-text-color;
  line-height: 2;

  @include media(tablet) {
    font-size: 15px;
    line-height: 2.4;
  }
}

.promo-cart {
  margin-top: 10px;
  text-align: center;

  @include media(tablet) {
    margin: 30px 30px 0 0;
    height: 100%;
    text-align: left;
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }
}
