*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  line-height: 1.6250em; /* 26px */
  font-weight: 300; // to thicken it a bit, we need to remove font-smoothing
  color: $body-text-color;
}

.container {
  @include container();
}



