*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: $body-text-color;
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: 300; // to thicken it a bit, we need to remove font-smoothing
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -moz-font-feature-settings: 'kern';
  -moz-font-feature-settings: 'kern=1';
  -webkit-font-feature-settings: 'kern';
  font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

picture {
  @extend .clearflx;
  display: block;
}

.container {
  @extend .clearfix;
  @include container();
}

.g-half {
  @extend %grid;
  width: 100%;

  @include media(tablet) {
    width: 50%;
  }

  &.g-nonbreak {
    width: 50%;
  }
}

.g-third {
  @extend %grid;
  width: 100%;

  @include media(tablet) {
    width: 33.3%;
  }

  &.g-nonbreak {
    width: 33.3%;
  }
}

.g-fourth {
  @extend %grid;
  width: 100%;

  @include media(tablet) {
    width: 50%;
  }

  @include media(desktop) {
    width: 25%;
  }

  &.g-nonbreak {
    width: 25%;
  }
}

.pagefooter {
  font-size: 8px;
  padding: 10px 0;
  text-align: center;

  @include media(tablet) {
    font-size: 15px;
    padding: 30px 0;
  }
}
