//Global partials (mixins, functions, extensions)

//Thanks WSK
%promote-layer {
/*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

//Provide mobile-first media queries for selected size
@mixin media($media) {
  @if $media == tablet {
    @media only screen and (min-width: $bp-tablet) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $bp-tablet + 1) { @content; }
  }
  @else if $media == desktop-only {
    @media only screen and (min-width: $bp-tablet + 1) and (max-width: $bp-wide-desktop - 1) { @content; }
  }
  @else if $media == wide-desktop {
    @media only screen and (min-width: $bp-wide-desktop) { @content; }
  }
}
