//Variables for stylesheets


//Colors
$brand-color-blue: #4281f2;
$brand-color-red: #c92f38;
$brand-color-yellow: #e3ad00;
$brand-color-primary: $brand-color-blue;

$body-text-color: #909090;
$header-text-color: #6f7173;

//Other
$body-font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
$body-font-size: 16px;


//Breakpoints
$bp-tablet: 620px;
$bp-desktop: 960px;
$bp-wide-desktop: 1600px;
