//Variables for stylesheets


//Colors
$brand-color-blue: #4281f2;
$brand-color-red: #c92f38;
$brand-color-yellow: #e3ad00;
$brand-color-primary: $brand-color-blue;


//Breakpoints
$tablet: 620px;
$desktop: 960px;
$wide-desktop: 1600px;
